Repository projectdiscovery/cvemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy, go-vet, go-test, go-build, golangci-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        language: system
        args: [-w]
        files: \.go$

      - id: go-imports
        name: go imports
        entry: goimports
        language: system
        args: [-w]
        files: \.go$

      - id: go-mod-tidy
        name: go mod tidy
        entry: go
        language: system
        args: [mod, tidy]
        files: go\.mod$
        pass_filenames: false

      - id: go-vet
        name: go vet
        entry: go
        language: system
        args: [vet, ./...]
        files: \.go$
        pass_filenames: false

      - id: go-test
        name: go test
        entry: go
        language: system
        args: [test, -v, ./...]
        files: \.go$
        pass_filenames: false

      - id: go-build
        name: go build
        entry: go
        language: system
        args: [build, ./...]
        files: \.go$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint
        language: system
        args: [run, --timeout=5m]
        files: \.go$
        pass_filenames: false

Lint fix
  pkg/tools/renderer/renderer.go
  pkg/utils/pager.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

feat: rename vulnsh to vulnx throughout codebase
  .gitignore
  Makefile
  README.md
  USAGE.md
  cmd/integration-test/main.go
  cmd/integration-test/run.sh
  cmd/integration-test/vulnsh_cases.go
  cmd/vulnsh/clis/banner.txt
  cmd/vulnx/clis/auth.go
  cmd/vulnx/clis/banner.txt
  cmd/vulnx/clis/common.go
  cmd/vulnx/clis/groupby.go
  cmd/vulnx/clis/groupbyhelp.go
  cmd/vulnx/clis/healthcheck.go
  cmd/vulnx/clis/id.go
  cmd/vulnx/clis/search.go
  cmd/vulnx/clis/searchhelp.go
  cmd/vulnx/clis/version.go
  cmd/vulnx/main.go
  pkg/tools/agentvulnx/agentvulnx.go
  pkg/tools/filters/filters.go
  pkg/tools/groupby/groupby.go
  pkg/tools/id/id.go
  pkg/tools/search/search.go
  pkg/tools/templates/prompt.go
  pkg/tools/tools.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

feat: enhance auth command with automation support
  DEVELOPMENT.md
Due: none

More changes
  README.md
  cmd/vulnx/clis/auth.go
  go.mod
Due: go-fmt, go-imports, go-mod-tidy, go-vet, go-test, go-build, golangci-lint

lint fixes
  cmd/vulnx/clis/auth.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

stdin / list input
  README.md
  USAGE.md
  cmd/vulnx/clis/common.go
  cmd/vulnx/clis/id.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

lint fixe
  cmd/vulnx/clis/common.go
  cmd/vulnx/clis/id.go
  pkg/runner/runner.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Add shell completion install command for vulnx CLI
  cmd/vulnx/clis/completion.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Fix: Add empty string checks to prevent index out of bounds panic
  pkg/runner/runner.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Remove pager functionality completely
  README.md
  cmd/vulnx/clis/common.go
  cmd/vulnx/clis/completion.go
  cmd/vulnx/clis/groupby.go
  cmd/vulnx/clis/groupbyhelp.go
  cmd/vulnx/clis/searchhelp.go
  pkg/utils/pager.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Add comprehensive filter flags to search command
  README.md
  cmd/vulnx/clis/completion.go
  cmd/vulnx/clis/search.go
  go.mod
Due: go-fmt, go-imports, go-mod-tidy, go-vet, go-test, go-build, golangci-lint

Fix search UX issues and improve field rendering
  cmd/vulnx/clis/search.go
  cmd/vulnx/clis/searchhelp.go
  pkg/tools/renderer/renderer.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Remove file input flags from vulnx search command
  README.md
  USAGE.md
  cmd/vulnx/clis/banner.txt
  cmd/vulnx/clis/search.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Fix multiple search and analyze command issues
  README.md
  USAGE.md
  cmd/vulnx/clis/analyze.go
  cmd/vulnx/clis/analyzehelp.go
  cmd/vulnx/clis/search.go
  pkg/tools/analyze/groupby.go
  pkg/tools/templates/prompt.go
  pkg/tools/tools.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Fix search filters: disable non-working filters and ensure working ones function correctly
  FILTER_FIX_SUMMARY.md
  cmd/vulnx/clis/search.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Remove temporary FILTER_FIX_SUMMARY.md file
  FILTER_FIX_SUMMARY.md
Due: none

feat: add filters command with detailed output and fix debug logging
  README.md
  cmd/vulnx/clis/banner.txt
  cmd/vulnx/clis/common.go
  cmd/vulnx/clis/filters.go
  cmd/vulnx/clis/search.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Update README.md
  README.md
Due: none

feat: redesign vulnx dashboard with clean formatting and fix README examples
  README.md
  cmd/vulnx/clis/common.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

feat: improve vulnx ux and api integration
  README.md
  client.go
  cmd/vulnx/clis/analyze.go
  cmd/vulnx/clis/analyzehelp.go
  cmd/vulnx/clis/auth.go
  cmd/vulnx/clis/common.go
  cmd/vulnx/clis/completion.go
  cmd/vulnx/clis/filters.go
  cmd/vulnx/clis/healthcheck.go
  cmd/vulnx/clis/id.go
  cmd/vulnx/clis/search.go
  cmd/vulnx/clis/searchhelp.go
  cmd/vulnx/clis/version.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

fix: remove broken range facet examples from vulnx search help
  cmd/vulnx/clis/search.go
  cmd/vulnx/clis/searchhelp.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Make API key required and fix auth command circular error
  README.md
  client.go
  cmd/vulnx/clis/auth.go
  cmd/vulnx/clis/common.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Add default sorting by latest CVE published date and fix linting issues
  .cursorrules
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue-report.md
  .github/release.yml
  .github/workflows/build-test.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dep-auto-merge.yml
  .github/workflows/dockerhub-push.yml
  .github/workflows/lint-test.yml
  .github/workflows/release-binary.yml
  .github/workflows/release-test.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  Makefile
  README.md
  USAGE.md
  cmd/integration-test/test-data.json
  cmd/vulnx/clis/auth.go
  cmd/vulnx/clis/banner.txt
  cmd/vulnx/clis/completion.go
  cmd/vulnx/clis/filters.go
  cmd/vulnx/clis/search.go
  pkg/runner/banner.go
  pkg/tools/agentvulnx/agentvulnx.go
  pkg/tools/renderer/README.md
  pkg/tools/templates/prompt.go
  scripts/README.md
  scripts/fix-dependencies.sh
  scripts/git-hook-install.sh
  scripts/pre-commit.sh
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Add default sorting by latest CVE published date and fix linting issues
  .pre-commit-config.yaml
  README.md
Due: none

Update GoReleaser to build both cvemap and vulnx binaries
  .goreleaser.yml
Due: none

Add Docker build support for vulnx alongside cvemap
  .github/workflows/dockerhub-push.yml
  .goreleaser.yml
  Dockerfile.vulnx
Due: none

Revert to unified versioning: vulnx uses cvemap version from git tags
  .goreleaser.yml
  cmd/vulnx/clis/version.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Add self-update functionality to vulnx CLI
  cmd/vulnx/clis/common.go
  cmd/vulnx/clis/update.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

Update vulnx to use native vulnx update endpoint and remove short flag
  cmd/vulnx/clis/common.go
  cmd/vulnx/clis/update.go
  cmd/vulnx/clis/version.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

feat: make authentication optional and enhance rate limit UX
  README.md
  client.go
  cmd/vulnx/clis/banner.txt
  cmd/vulnx/clis/common.go
  cmd/vulnx/clis/id.go
  cmd/vulnx/clis/search.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

docs: add warning emoji to API key note in README
  README.md
Due: none

fix: resolve GoReleaser Docker build issues
  .goreleaser.yml
  Dockerfile
  Dockerfile.vulnx
Due: none

feat: add deprecation warning for cvemap API discontinuation
  pkg/runner/banner.go
  pkg/runner/runner.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

feat(vulnx): enhance version checking, update flags, and clean completion
  README.md
  cmd/vulnx/clis/analyzehelp.go
  cmd/vulnx/clis/common.go
  cmd/vulnx/clis/completion.go
  cmd/vulnx/clis/search.go
  cmd/vulnx/clis/searchhelp.go
  cmd/vulnx/clis/version.go
  pkg/runner/banner.go
  pkg/runner/runner.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

fix: use subcommand format for integration tests
  cmd/integration-test/main.go
  cmd/integration-test/vulnsh_cases.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

fix: update integration tests for new v2 API endpoints
  client.go
  cmd/integration-test/main.go
  cmd/integration-test/server.go
  cmd/integration-test/vulnsh_cases.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

fix: use production API URL as default and update workflow env var
  .github/workflows/build-test.yml
  client.go
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint

chore: rename remaining CVEMap references to Vulnx
  pkg/tools/filters/filters.go
  scripts/fix-dependencies.sh
  scripts/pre-commit.sh
Due: go-fmt, go-imports, go-vet, go-test, go-build, golangci-lint
